.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 152px;
    height: 310px;
    margin: 10px;
    text-align: center;
    background-color: #f5f5f5;
  }
.card:hover {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 152px;
  height: 310px;
  margin: 10px;
  text-align: center;
  background-color: #86868667;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

.card h2 {
  margin: 10px 0;
  font-size: 16px;
  text-transform: capitalize;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}

.type {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin: 5px 5px 0 0;
  font-size: 14px;
  text-transform: capitalize;
}

.grass {
  background-color: #78c850;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.bug {
  background-color: #a8b820;
}

.normal {
  background-color: #a8a878;
}

.poison {
  background-color: #a040a0;
}

.electric {
  background-color: #f8d030;
}

.ground {
  background-color: #e0c068;
}

.fairy {
  background-color: #ee99ac;
}

.fighting {
  background-color: #c03028;
}

.psychic {
  background-color: #f85888;
}

.rock {
  background-color: #b8a038;
}

.ghost {
  background-color: #705898;
}

.ice {
  background-color: #98d8d8;
}

.dragon {
  background-color: #7038f8;
}

.dark {
  background-color: #705848;
}

.steel {
  background-color: #b8b8d0;
}

.flying {
  background-color: #a890f0;
}

.pokemon-details {
  margin-top: 30px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.pokemon-details h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
}

.pokemon-details img {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

.pokemon-details p {
  font-size: 16px;
  color: #666;
}

.pokemon-details ul {
  list-style-type: none;
  padding: 0;
}

.pokemon-details ul li {
  font-size: 14px;
  color: #333;
}
