.nav .logo {
  cursor: pointer;
}
nav {
  display: flex;
  height: 70px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  color: rgb(0, 60, 190);
  display: flex;
  grid-auto-flow: column;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.logo {
  padding-left: 30px;
}
.search {
  padding-right: 30px;
}
